@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Phần header-->
<div class="container-fluid page-header mb-2 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <div class="section-header text-start mb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Thực đơn của Burgz có gì?</h1>
                    <p>Khám phá thực đơn đa dạng của Burgz với các món ăn hấp dẫn như burger và sandwich thơm ngon, gà rán giòn rụm, khoai tây chiên vàng giòn và những combo đặc biệt dành cho nhóm bạn và gia đình. Mỗi món ăn được chế biến từ nguyên liệu tươi ngon, mang đến trải nghiệm ẩm thực tuyệt vời ngay tại cửa hàng.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Kết thúc phần header-->
<div class="container-xxl py-5">
    <div class="container">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}