@model FastFood.MVC.ViewModels.ProductViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="form-body">
<div class="admincontainer">
    <div class="adminform-container">
        <h1>Tạo mới sản phẩm</h1>
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Danh mục</label>
                <select asp-for="CategoryID" class ="form-control" asp-items="ViewBag.CategoryID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <label asp-for="Description" class="control-label"></label>
                 @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "4" })
                 <span asp-validation-for="Description" class="text-danger"></span>
             </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group-checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.IsCarouselItem) CarouselItem
                </label>
                <label>
                    @Html.CheckBoxFor(model => model.IsNew) New
                </label>
                <label>
                    @Html.CheckBoxFor(model => model.IsPopular) Popular
                </label>
            </div>
                <br />
            <div class="form-group-btn">
                 <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
                 <button type="reset" class="btn btn-warning">Nhập lại</button>
                 <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
