@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Tài khoản</a>
    </li>
    <li>
        <form class="form-inline p-0 m-0" asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="dropdown-item ps-3">
                Đăng xuất
            </button>
        </form>
    </li>
}
else
{
    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a></li>
    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Đăng kí</a></li>
}

