@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    var isAdmin = (await AuthorizationService.AuthorizeAsync(User, "AdminAccess")).Succeeded;
    var isEmployee = (await AuthorizationService.AuthorizeAsync(User, "EmployeeAccess")).Succeeded;
    var isShipper = (await AuthorizationService.AuthorizeAsync(User, "ShipperAccess")).Succeeded;

    if (isAdmin || isEmployee || isShipper)
    {
        Layout = "/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "/Views/Shared/_IdentityLayout.cshtml";
    }
}


<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
